<div class="row">
  <div class="col-auto">
    <h2>Blog Posts</h2>
  </div>
</div>

<div>
  {{#if blogPosts.length}}
  <div class=" blogPost-list">

    {{#each blogPosts as |blogPost|}}
    <div class="col mb-3">
      <div class="col">
        <div>
        {{!-- FIXME: link to see post with comments format date --}}
        <h4><a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a></h4>
        </div>
          <div>
        <h5>Created by: {{blogPost.user.name}} on {{blogPost.date_created}}</h5>
        </div>
      </div>
      <div class="col">
        <h6>{{blogPost.post_content}}</h6>
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogPost.id}}">DELETE</button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  </div>

  <script src="./js/homepage.js"></script>